body {
	background-color: #e6ded3;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: justify;
}
a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #977863;
	text-align: center;
	font-variant: normal;
	text-decoration: none;
	font-weight: bold;
	outline: none;

}
a:link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #977863;
	text-align: center;
	font-variant: normal;
	text-decoration: none;
	font-weight: bold;
	outline: none;

}
a:visited {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #977863;
	text-align: center;
	font-variant: normal;
	text-decoration: none;
	font-weight: bold;
	outline: none;
}
a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #977863;
	text-align:center;
	font-variant: normal;
	text-decoration: none;
	font-weight: bold;
	outline:none;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #b69883;
	text-decoration: none;
	outline: none;
}
.fonttitulo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #5e5e5e;
	text-align:center;
	font-variant: normal;
	text-decoration: none;
	font-weight: bold;
}
.fontsubtitulo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #5e5e5e;
	font-variant: normal;
	text-decoration: none;
	font-weight: normal;
}
.fonttexto {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 16px;
	color: #5e5e5e;
	text-align:left;
}
.noborder {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.borderspaco {
	border: 8px solid #e6ded3;
}

img {
border: none;
outline:none;
}